<mat-toolbar color="primary">
    <span class="navbar-left">
        <mat-icon>flight</mat-icon>
        <span class="title">FlightBookingApp</span>
    </span>
    <span class="navbar-middle">
        <a mat-button routerLink="/">Home</a>
        <a mat-button routerLink="/about">About</a>
        <a mat-button routerLink="/services">Services</a>
        <a mat-button routerLink="/contact">Contact</a>
    </span>
    <span class="navbar-right">
        <div *ngIf="isLoggedIn(); else login">
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>account_circle</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <span mat-menu-item>Welcome {{ username | uppercase}}</span>
                <button mat-menu-item (click)="logout()">
                    <mat-icon>logout</mat-icon>
                    <span>Logout</span>
                </button>
            </mat-menu>
        </div>
        <ng-template #login>
            <a mat-button routerLink="/login">Login</a>
        </ng-template>
    </span>
</mat-toolbar>