.mat-toolbar {
    display: flex;
    justify-content: space-between;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.logo {
    height: 40px;
    margin-right: 8px;
}

.title {
    font-size: 24px;
    font-weight: bold;
}

.navbar-middle a {
    margin: 0 10px;
}

.navbar-right {
    display: flex;
    align-items: center;
}